/*--Slider*/
main {
  width: 83%;
  height: 640px;
  /*background: red;*/
  margin: 0px auto;
  position: relative;
  padding: 5px 0;
}
main .text {
  padding: 10px;
  text-align: center;
  /*font-size: 30px;*/
  color: #554;
}
.text h1 {
  font-size: 50px;
}
.text p {
  width: 60%;
  padding: 5px;
  margin: auto;
  line-height: 30px;
}
main .cabecalho {
  width: 100%;
  height: 10px;
  margin: 0 auto;
  /*background: gray;*/
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
}
.cabecalho p span_container {
  font-size: 40px;
  margin: 0 5px;
  cursor: pointer;
  color: #555;
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 19px;
  text-align: center;
  border-radius: 3px;
}
.cabecalho p span_container:hover {
  background: #222;
  color: white;
}
section {
  width: 100%;
  height: 600px;
  /*background: red;*/
  margin: auto;
  display: flex;
  align-items: center;
  overflow-x: auto;
}
section::-webkit-scrollbar {
  display: none;
}
section .product {
  min-width: 24%;
  height: 90%;
  background: whitesmoke;
  margin: 0 20px 0 0;
  border-radius: 20px;
  position: relative;
  left: 0;
  transition: 0.5s;
}
picture {
  width: 100%;
  height: 70%;
  padding: 10px;
  /*background: green;*/
  display: flex;
  overflow: hidden;
  margin-bottom: 6px;
}
picture img {
  width: 100%;
}
.detail,
.button_container {
  width: 90%;
  /*background: red;*/
  margin: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 50px;
  font-size: 20px;
  color: #444;
}
small {
  color: #555;
}
.a_container {
  text-decoration: none;
  padding: 6px 14px;
  font-size: 15px;
  margin: 60px 0 0 35px;
  display: inline-block;
  background: #6773ff;
  color: white;
  border-radius: 8px;
}
.preco_antigo{
  text-decoration: line-through;
  text-decoration-thickness: 1px; 
  font-size: 15px;
  margin-top: 10px;
}
.preco_novo{
  color: #b17704;
  font-weight: 900;
  line-height: 30px;
}

p.star {
  margin: 5px auto;
  width: 65%;
  font-size: 25px;
  color: #808080;
}
@media (max-width: 768px) {
  .text h1 {
    font-size: 35px;
  }
  .text p {
    width: 90%;
  }
  header h1 {
    font-size: 25px;
  }
  header p span {
    font-size: 30px;
  }
  section .product {
    min-width: 49%;
    margin: 0 10px 0 0;
  }
  .detail,
  .button {
    font-size: 16px;
  }  
}

/*-FIM SLIDER--*/
.header {
  padding: 15px 0;
}
.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navigation-link {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #f3f5f7;
}
.button {
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  background: #4592ff;
  border-radius: 20px;
  border: none;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}
.button-icon,
.button-price {
  margin-right: 10px;
}
.button-icon:last-child {
  margin-right: 0;
  margin-left: 10px;
}
.button--shop {
  padding: 10px 25px;
}


.label {
  display: inline-block;
  padding: 5px 12px;
  background-color: #3dc47e;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  line-height: 15px;
}

.card {
  min-height: 370px;
  border-radius: 10px;
  padding: 60px 46px 80px;
}
.card-1 {
  background: #e3e2e3 url("../img/card-image-1.jpg") no-repeat top right;
  background-size: cover;
}
.card-2 {
  background: #640c0c url("../img/card-image-2.jpg") no-repeat top right;
  background-size: cover;
}
.card-3 {
  padding-top: 35px;
  background: #ccd5e6 url("../img/card-image-3.png") no-repeat top right 10%;
  background-size: contain;
}
.card-4 {
  padding-top: 35px;
  padding-left: 25px;
  background: #eb8586 url("../img/card-image-4.png") no-repeat top right;
  background-size: contain;
}
.card-title {
  max-width: 222px;
  margin: 0;
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  line-height: 30px;
  color: #262d33;
}
.card-title.large {
  max-width: 420px;
  font-size: 40px;
  line-height: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.card-text {
  max-width: 176px;
  margin-bottom: 25px;
  color: #4b5157;
  font-size: 14px;
  line-height: 20px;
}
.card-text.large {
  max-width: 320px;
}
.text-light {
  color: #fff;
}
.card-price {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 900;
}
.section-title {
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  line-height: 30px;
  color: #262d33;
}
.more {
  padding: 10px;
  font-size: 14px;
  font-weight: 900;
  line-height: 20px;
  text-decoration: none;
  color: #262d33;
}
.goods-card {
  position: relative;
  text-align: center;
  padding: 30px 25px 35px;
  text-decoration: none;
  display: block;
}
.goods-card .label {
  position: absolute;
  top: 18px;
  left: 18px;
}
.goods-title {
  margin-top: 15px;
  margin-bottom: 5px;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  line-height: 25px;
  color: #262d33;
}
.goods-description {
  font-size: 14px;
  line-height: 20px;
  color: #4b5157;
}

.footer {
  padding: 45px 0 40px;
  background: #b39354;
  color: #fff;
}
.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-menu-item:not(:last-child) {
  margin-right: 40px;
}
.footer-menu-link {
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
}
.footer-text {
  font-size: 14px;
  line-height: 20px;
  color: #e7d9ff;
}
.social-link {
  margin-left: 15px;
  text-decoration: none;
}
.footer-line {
  color: rgba(255, 255, 255, 0.5);
  size: 1px;
}
.top-link {
  text-decoration: none;
  color: #fff;
}
.top-link-text {
  margin-right: 15px;
}
.payment-logo {
  vertical-align: middle;
}
.footer-payment > * + * {
  /* внутри у .footer-payment у каждого соседа слева отступ 25рх */
  margin-left: 25px;
}

@media (max-width: 1200px) {
  .slide-1,
  .slide-2,
  .slide-3 {
    background-size: cover;
  }
  .card-3 {
    background-size: cover;
  }
}
@media (max-width: 992px) {
  .slider-nav {
    display: none;
  }
  .footer {
    margin-bottom: 50px;
  }
}
@media (max-width: 576px) {
  main{
    width: 100%;
    height: 450px;
  }
  section {
    height:450px;
  }
  .a_container {
    font-size: 12px;
    margin: 40px 0px 0px 5px;    
  padding: 4px 18px;
  }
  .card {
    background-position: left top;
    padding: 30px;
    min-height: 300px;
  }
  .card-4 {
    background-position: right top;
  }
}
