:root {
  --cor-primaria: #b38b59;
  --cor-secundaria: #113e21;
  --cor-destaque: #f0f0f0;
  --cor-subdestaque: #fefefe;
}

/*--Cart--*/
#cart-icon{
  position: relative;  
  left:550px; /* Distância em relação à parte direita da página */
  font-size: 30px;
  box-shadow: 0 0 10px #b38b59;
  border-radius: 10%; /* Adiciona um raio de borda para tornar o ícone circular */
  display: inline-block; /* Certifica-se de que a sombra se ajuste ao ícone */
  padding: 5px;
  cursor: pointer;
}
#cart-icon[data-quantitiy]::after{
  contain: '';
}
#cart-icon[data-quantitiy]::after{
content: '';
position: absolute;
top: 0;
right: -12px;
width: 20px;
height: 20px;
background-color: var(--cor-secundaria);
border-radius: 50%;
color: white;
font-size: 12px;
font-weight: 500;
display: flex;
align-items: center;
justify-content: center;
}
/*-- Cart --*/
.cart{
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  min-height: 100vh;
  padding: 20px;
  background: var(--cor-destaque);
  box-shadow: -2px 0 4px hsl(0, 4%, 15% / 10%);
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.cart.active{
  right: 0;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

}
.cart-title{
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-top: 32px;
}
.total{
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid var(--cor-primaria);
}
.total-title{
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem ;
}
.total-price{
  font-size: 1.075rem;
  margin: 1rem 0 0 0.7rem;
}
.btn-buy{
  display: flex;
  justify-content: center;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  width: 50%;
  text-align: center;
  border: none;
  border-radius: 2rem;
  background-color: #b17704;
  color: #113e21;
  font: 1rem;
  font-style: italic;
  font-weight: 500;
  cursor: pointer;
}

#close-cart{
position: absolute;
top: 1rem;
right: 0.8rem;
font-size: 2rem;
color: #b17704;
cursor: pointer;
}

.cart-box{
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.cart-img{
  width: 100px;
  height: 100px;
  object-fit: contain;
  object-position: center;
  padding: 10px;
}
.detail-box{
  display: grid;
  row-gap: 0.5rem;
}
.cart-product-title{
  font: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}
.cart-price{
  font-weight: 500;
}
.cart-quantitiy{
  border: 1px solid var(--cor-secundaria);
  outline-color: var(--cor-primaria);
  text-align: center;
  width: 2.8rem;
  font-size: 1rem;
  border-radius: 4px;
}
.cart-remove{
  font-size: 24px;
  color: var(--cor-primaria);
  cursor: pointer;
}

/*--Slider*/
main {
  width: 90%;
  height: 750px;
  margin: 0px auto;
  position: relative;
  padding: 25px 0;
}
main .text {
  padding: 10px;
  text-align: center;
}
.text h1 {
  font-size: 50px;
}
main .cabecalho {
  width: 100%;
  height: 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
}
.cabecalho p span_container {
  font-size: 40px;
  margin: 0 5px;
  cursor: pointer;
  color: black;
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 19px;
  text-align: center;
  border-radius: 3px;
}
.cabecalho p span_container:hover {
  background: var(--cor-primaria);
  color: var(--cor-subdestaque);
}
section {
  width: 100%;
  height: 700px;
  margin: auto;
  display: flex;
  align-items: center;
  overflow-x: auto;
}
section::-webkit-scrollbar {
  display: none;
}
section .product {
  min-width: 24%;
  height: 100%;
  background: var(--cor-destaque);
  margin: 0px 15px 0px 10px;
  border-radius: 10px 10px;
  position: relative;
  left: 0;
  transition: 0.5s;
}
picture {
  width: 100%;
  height: 80%;
  padding: 10px;
  display: flex;
  overflow: hidden;
  margin-bottom: 6px;
}
picture img {
  width: 100%;
}
.detail {
  margin-top: 20px;
}
.detail,
.button_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 45px;
  font-size: 20px;
}
small {
  color: var(--cor-primaria);
}
.a_container {
  text-decoration: none;
  padding: 6px 14px;
  font-size: 15px;
  display: inline-block;
  background: #b39354;
  color: white;
  border-radius: 8px;
  margin-top: 50px;
}
.preco_antigo {
  text-decoration: line-through;
  text-decoration-thickness: 1px;
  font-size: 15px;
  margin-top: 10px;
}
.preco_novo {
  color: #b17704;
  font-weight: 900;
  line-height: 30px;
}

@media (max-width: 768px) {
  main {    
  width: 100%;
  height: 750px;
  }
  .text h1 {
    font-size: 35px;
  }
  .text p {
    width: 90%;
  }
  header h1 {
    font-size: 25px;
  }
  header p span {
    font-size: 30px;
  }
  section .product {
    min-width: 49%;
    height: 95%;
    margin: 0 10px 0 0;
  }
  .detail,
  .button {
    font-size: 15px;
  }
}

/*-FIM SLIDER--*/
.header {
  padding: 15px 0;
}
.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navigation-link {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #f3f5f7;
}
.button {
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  background: #b39354;
  border-radius: 20px;
  border: none;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}
.button-icon,
.button-price {
  margin-right: 10px;
}
.button-icon:last-child {
  margin-right: 0;
  margin-left: 10px;
}
.button--shop {
  padding: 10px 25px;
}

.label {
  display: inline-block;
  padding: 5px 12px;
  background-color: #3dc47e;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  line-height: 15px;
}

.card {
  min-height: 370px;
  border-radius: 10px;
  padding: 60px 46px 80px;
}
.card-1 {
  background: #e3e2e3 url("../img/card-image-1.jpg") no-repeat top right;
  background-size: cover;
}
.card-2 {
  background: #640c0c url("../img/card-image-2.jpg") no-repeat top right;
  background-size: cover;
}
.card-3 {
  padding-top: 35px;
  background: #ccd5e6 url("../img/card-image-3.png") no-repeat top right 10%;
  background-size: contain;
}
.card-4 {
  padding-top: 35px;
  padding-left: 25px;
  background: #eb8586 url("../img/card-image-4.png") no-repeat top right;
  background-size: contain;
}
.card-title {
  max-width: 222px;
  margin: 0;
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  line-height: 30px;
  color: #262d33;
}
.card-title.large {
  max-width: 420px;
  font-size: 40px;
  line-height: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.card-text {
  max-width: 176px;
  margin-bottom: 25px;
  color: #4b5157;
  font-size: 14px;
  line-height: 20px;
}
.card-text.large {
  max-width: 320px;
}
.text-light {
  color: #fff;
}
.card-price {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 900;
}
.section-title {
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  line-height: 30px;
  color: #262d33;
}
.more {
  padding: 10px;
  font-size: 14px;
  font-weight: 900;
  line-height: 20px;
  text-decoration: none;
  color: #262d33;
}
.goods-card {
  position: relative;
  text-align: center;
  padding: 30px 25px 35px;
  text-decoration: none;
  display: block;
}
.goods-card .label {
  position: absolute;
  top: 18px;
  left: 18px;
}
.goods-title {
  margin-top: 15px;
  margin-bottom: 5px;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  line-height: 25px;
  color: #262d33;
}
.goods-description {
  font-size: 14px;
  line-height: 20px;
  color: #4b5157;
}

.footer {
  padding: 45px 0 40px;
  background: #b39354;
  color: #fff;
}
.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-menu-item:not(:last-child) {
  margin-right: 40px;
}
.footer-menu-link {
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
}
.footer-text {
  font-size: 14px;
  line-height: 20px;
  color: #e7d9ff;
}
.social-link {
  margin-left: 15px;
  text-decoration: none;
}
.footer-line {
  color: rgba(255, 255, 255, 0.5);
  size: 1px;
}
.top-link {
  text-decoration: none;
  color: #fff;
}
.top-link-text {
  margin-right: 15px;
}
.payment-logo {
  vertical-align: middle;
}
.footer-payment > * + * {
  /* внутри у .footer-payment у каждого соседа слева отступ 25рх */
  margin-left: 25px;
}

@media (max-width: 1200px) {
  .slide-1,
  .slide-2,
  .slide-3 {
    background-size: cover;
  }
  .card-3 {
    background-size: cover;
  }
}
@media (max-width: 992px) {
  .slider-nav {
    display: none;
  }
  .footer {
    margin-bottom: 50px;
  }
}
@media (max-width: 576px) {
  main {
    width: 100%;
    height: 450px;
  }
  section {
    height: 450px;
  }
  .a_container {
    font-size: 12px;
    margin: 40px 0px 0px 5px;
    padding: 4px 18px;
  }
  .card {
    background-position: left top;
    padding: 30px;
    min-height: 300px;
  }
  .card-4 {
    background-position: right top;
  }
  .detail,
  .button_container   {
    font-size: 12px;
    margin: 0;    
  height: 0;
  margin-top: 32px;
  }
}